/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:1c3000f15f802d745525db6b5a03a30f:aa04c391141106c702fc11bbd801fca5:4ec3ed73a8e66186ad4af2f1068ae515$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.tournament_sprite_game {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../res/Images/Slots_Assets.png);}

.tournamentBtn_disabled {width:91px; height:51px; background-position: -281px -2px}
.tournamentBtn_mousedown {width:91px; height:51px; background-position: -188px -2px}
.tournamentBtn_mouseout {width:91px; height:51px; background-position: -95px -2px}
.tournamentBtn_mouseover {width:91px; height:51px; background-position: -2px -2px}
